# Topic: print()           (26th November 2024)

##### 1.Using the python print function print any string value, integer value, boolean value, float value in single print command

In [3]:
print("My name is Muhammad Usman")

My name is Muhammad Usman

In [4]:
print("I am: ", 24)

I am:  24

In [5]:
print("Today is Friday: ", True)

Today is Friday:  True

In [6]:
print("Today is saturday: ", False)

Today is saturday:  False

In [7]:
print("The value of Pi is: ", 3.142)

The value of Pi is:  3.142

##### 2. Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [9]:
print("Usman", "Tahir","Javed","Kamran","Lateef","Khalid", sep="-")

Usman-Tahir-Javed-Kamran-Lateef-Khalid

In [10]:
print(23,34,45,56,67,78,89,sep="-")

23-34-45-56-67-78-89

In [11]:
print(True,False,True,False,True,sep="-")

True-False-True-False-True

In [12]:
print(3.142,4.356,7.65,6.43,44.23,sep="-")

3.142-4.356-7.65-6.43-44.23

##### 3.  Using the python print function print any string value, integer value, boolean value, float value in separate print command. But every value must be space separated and in single line

In [14]:
print("Usman",end=" ")
print("Umar", end=" ")
print("Waqas", end=" ")
print("Haleem", end=" ")
print("Adil", end=" ")

Usman Umar Waqas Haleem Adil

In [15]:
print(34, end=" ")
print(43, end=" ")
print(55, end=" ")
print(63, end=" ")
print(77, end=" ")

34 43 55 63 77

In [16]:
print(True, end=" ")
print(False, end=" ")
print(True, end=" ")
print(False, end=" ")
print(True, end=" ")

True False True False True

In [17]:
print(4.22, end=" ")
print(5.23, end=" ")
print(6.11, end=" ")
print(9.44, end=" ")
print(6.77, end=" ")

4.22 5.23 6.11 9.44 6.77

### 4.  Can a python print function take no value to print???
##### Yes, the print() function in Python can take no value to print. When called without any arguments, print() simply outputs a blank line. This is often used to add space in the output for readability.

In [19]:
print("Hello")
print()
print("World")

Hello

World

# TOPIC :Variables in Python Operators       (26th November 2024)

##### 5. One of my friends name is Mr. Ahmed. He is 30 years old. He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.
###### Note: Create variables from above text and also assign values from the text.

In [22]:
name="Mr. Ahmed"
age=30
profession="Lawer"
education="Bachelor in Law"
graduation_year=2005
company_name="The Himalya Associates"
working_since=2015
looking_personality="Handsome"
height=5.10
weight_in_g=70600
monthly_income=200000

##### 6. How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [24]:
current_year= 2024
print(f"Its {current_year - graduation_year} years have passed after his graduation")

Its 19 years have passed after his graduation

##### 7. How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [26]:
print(f"He has been working for {current_year-working_since} years ")

He has been working for 9 years

##### 8. Convert the monthly income of Mr. Ahmed in dollars. Create necesary variables and print the income in dollars.

In [28]:
income_in_dollar = round(monthly_income/278.41,2)
print(F"Mr. Ahmed's monthly income in dollars is: {income_in_dollar}")

Mr. Ahmed's monthly income in dollars is: 718.37

##### 9. Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [30]:
if isinstance(income_in_dollar, float):
    income_in_dollar = int(income_in_dollar)
    print(f"The income in dollar is: {income_in_dollar}")

The income in dollar is: 718

##### 10. Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [34]:
print(type(weight_in_g))

<class 'int'>

In [ ]:
weight_in_kg = int(weight_in_g/1000)
print(f"Mr. Ahmed's weight in kg is: {weight_in_kg}")

##### 11. print the year of birth of Mr. Ahmed.

In [ ]:
birth_year = current_year-age
print(f"Mr. Ahmed's birth year is: {birth_year}")

##### 12. Can Rs. 100 be divided equally among 6 students? HINT: % operator (modulo)

In [36]:
if 100 & 6 == 0:
    print("Yes 100 can be divided equally among 6 students")
else:
    print("No 100 can not be divided equally among 6 students")

No 100 can not be divided equally among 6 students